{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <!-- Current Page CSS -->
    <link href="{{ asset('smartforms/Templates/css/smart-forms.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <div class="page body-sign">

        <div class="page-inner p-none no-border">

            <section class="section-big" style="background:url({{ asset('img/login/login.JPG') }});background-size:cover">

                <div class="container">
                    <div class="row">

                        <div class="col-md-6 offset-md-3">

                            <div class="smart-wrap">
                                <div class="smart-forms smart-container wrap-3">
                                    <form method="post">
                                        <div class="form-body">


                                            <div class="spacer-t30 spacer-b30">
                                                <div class="tagline"><span> Infos de connexion </span></div><!-- .tagline -->
                                            </div>
                                            {{ form_start(registrationForm) }}


                                            <div class="section">
                                                {{ form_errors(registrationForm.email) }}
                                                <label class="field prepend-icon">
                                                    {{ form_widget(registrationForm.email) }}
                                                    <span class="field-icon"><i class="fa fa-user"></i></span>
                                                </label>
                                            </div>

                                            <div class="section">
                                                {{ form_errors(registrationForm.plainPassword.first) }}
                                                <label class="field prepend-icon">
                                                    {{ form_widget(registrationForm.plainPassword.first) }}
                                                    <span class="field-icon"><i class="fa fa-user"></i></span>
                                                </label>
                                            </div>

                                            <div class="section">
                                                {{ form_errors(registrationForm.plainPassword.second) }}
                                                <label class="field prepend-icon">
                                                    {{ form_widget(registrationForm.plainPassword.second) }}
                                                    <span class="field-icon"><i class="fa fa-user"></i></span>
                                                </label>
                                            </div>

                                            <div class="spacer-t30 spacer-b30">
                                                <div class="tagline"><span> Qui es-tu ? </span></div><!-- .tagline -->
                                            </div>

                                            <div class="section">
                                                <label class="field prepend-icon">
                                                    {{ form_widget(registrationForm.firstname) }}
                                                    <span class="field-icon"><i class="fa fa-user"></i></span>
                                                </label>
                                            </div>

                                            <div class="section">
                                                <label class="field prepend-icon">
                                                    {{ form_widget(registrationForm.lastname) }}
                                                    <span class="field-icon"><i class="fa fa-user"></i></span>
                                                </label>
                                            </div>

                                            {#                                            {{ form_row(registrationForm.agreeTerms) }}#}


                                        </div><!-- end .smart-forms section -->

                                        <div class="form-footer">
                                            <button type="submit" class="button btn-primary">S'INSCRIRE</button>
                                        </div><!-- end .form-footer section -->

                                        {{ form_end(registrationForm) }}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-primary main-color">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="feature-box left-icon-v2 exp-animation" data-animation="right-to-left" data-delay="200">
                                <i class="fa fa-cogs v-icon icn-holder medium"></i>
                                <div class="feature-box-text">
                                    <h3>Découvrir</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="feature-box left-icon-v2 exp-animation" data-animation="right-to-left" data-delay="400">
                                <i class="fa fa-compress v-icon icn-holder medium"></i>
                                <div class="feature-box-text">
                                    <h3>Rechercher</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="feature-box left-icon-v2 exp-animation" data-animation="right-to-left" data-delay="600">
                                <i class="fa fa-fire v-icon icn-holder medium"></i>
                                <div class="feature-box-text">
                                    <h3>Alerter</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="feature-box left-icon-v2 exp-animation" data-animation="right-to-left" data-delay="800">
                                <i class="fa fa-comments-o v-icon icn-holder medium"></i>
                                <div class="feature-box-text">
                                    <h3>Partager</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}