{% extends 'base.html.twig' %}
 {% block stylesheets %}
     {{ parent() }}
     <link href="{{ asset('css/shop.css') }}" rel="stylesheet"/>
     <link href="{{ asset('css/bg-stylish.css') }}" rel="stylesheet"/>
     <link href="{{ asset('css/blog.css') }}" rel="stylesheet"/>
 {% endblock %}

{% block title %}Boutique{% endblock %}

{% block body %}
<div class="page">
    <div class="page-inner p-none no-border">

        <section class="section-primary alternate-color">

            <div class="container">
                <div class="row">

                    <div class="col-md-6">
                        <h2 class="section-title mb-5 fs-26">
                            Les topos !
                        </h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="carousel-wrap">
                            <div class="owl-carousel"
                                 data-plugin-options='{"items": {{ topos|length }}, "singleItem": false, "dots":true, "autoPlay": true,"margin":0, "navigation": false}'>

                                {% for topo in topos %}
                                    <div class="item">

                                        <figure class="product-item product-item-style-1">
                                            <div class="product-media">
                                                <div class="badge-wrap">
                                                    {% if topo.isSoldOut %}
                                                    <span class="out-of-stock-badge">RUPTURE DE STOCK</span>
                                                    {% endif %}
                                                </div>
                                                <div class="img-wrap first-image">
                                                    <img src="{{ asset('topo/image/' ~ topo.image ) }}">
                                                </div>
                                                <div class="img-wrap second-image">
                                                    <img src="{{ asset('topo/image/' ~ topo.imageSecond ) }}">
                                                </div>
                                            </div>

                                            <div class="product-details">
                                                <h3 class="product-name"><a href="{{ topo.link }}">{{ topo.title }}</a></h3>
                                                <span class="product-price">
                                          <ins>
                                             <span class="product-amount">
                                                <span class="product-price-currency">{{ topo.price }}</span>€
                                             </span>
                                          </ins>
                                       </span>
                                                <div class="product-star-rating" title="{{ topo.star }}/5">

                                                    {% if topo.star > 0 %}

                                                        {% for i in range(1, topo.star) %}
                                                            <i class="fa fa-star"></i>
                                                        {% endfor %}

                                                        {% if topo.star < 5 %}
                                                            {% for i in range(1, 5 - topo.star) %}
                                                                <i class="fa fa-star-empty"></i>
                                                            {% endfor %}
                                                        {% endif %}

                                                    {% endif %}
                                                </div>
                                            </div>
                                        </figure>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-primary bg-stylish bg-stylish-v6">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="anim-perspective">
                            <div class="feature-box feature-box-secundary-one exp-animation" data-animation="vertex_b_show" data-delay="0">
                                <div class="feature-box-icon center-icon small">
                                    <i class="fa fa-shopping-bag v-icon"></i>
                                </div>
                                <div class="feature-box-text clearfix base-color">
                                    <h3>Secure Checkout</h3>
                                    <div class="feature-box-text-inner">
                                        <p>
                                            Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                                            per inceptos himenaeos. Nulla nunc dui, tristique in semper vel.
                                        </p>
                                        <a href="#" class="read-more">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="anim-perspective">
                            <div class="feature-box feature-box-secundary-one exp-animation" data-animation="vertex_b_show" data-delay="200">
                                <div class="feature-box-icon center-icon small">
                                    <i class="fa fa-car v-icon"></i>
                                </div>
                                <div class="feature-box-text base-color">
                                    <h3>Fast Delivery</h3>
                                    <div class="feature-box-text-inner">
                                        <p>
                                            Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                                            per inceptos himenaeos. Nulla nunc dui, tristique in semper vel.<br>
                                        </p>
                                        <a href="#" class="read-more">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="anim-perspective">
                            <div class="feature-box feature-box-secundary-one exp-animation" data-animation="vertex_b_show" data-delay="400">
                                <div class="feature-box-icon center-icon small">
                                    <i class="fa fa-ship v-icon"></i>
                                </div>
                                <div class="feature-box-text base-color">
                                    <h3>International Shipping</h3>
                                    <div class="feature-box-text-inner">
                                        <p>
                                            Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                                            per inceptos himenaeos. Nulla nunc dui, tristique in semper vel.<br>
                                        </p>
                                        <a href="#" class="read-more">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% endblock %}

    {% block javascripts %}
    {{ parent() }}
{% endblock %}