{% extends 'base.html.twig' %}
 {% block stylesheets %}
     {{ parent() }}
     <link href="{{ asset('css/shop.css') }}" rel="stylesheet"/>
     <link href="{{ asset('css/bg-stylish.css') }}" rel="stylesheet"/>
     <link href="{{ asset('css/blog.css') }}" rel="stylesheet"/>

 {% endblock %}

{% block title %}Market{% endblock %}

{% block body %}
<div class="page">
    <div class="page-inner no-border">
        <section class="section-primary alternate-color">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="section-title mb-5 fs-26">
                            Publié récemment sur le Market !
                        </h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="carousel-wrap">
                            <div class="owl-carousel"
                                 data-plugin-options='{"items": 4, "singleItem": false, "dots":true, "autoPlay": true,"margin":0, "navigation": false}'>

                                {% for mp in market_products|slice(0, 12) %}
                                    <div class="item">
                                        <figure class="product-item product-item-style-1">
                                            <div class="product-media">
                                                <div class="badge-wrap">
                                                    {% if mp.isSold %}
                                                        <span class="out-of-stock-badge">VENDU</span>
                                                    {% endif %}
                                                </div>
                                                <div class="img-wrap first-image">
                                                    <img src="{{ asset(('market/image/' ~ mp.imageFirst)|imagine_filter('square')) }}">
                                                </div>
                                                <div class="img-wrap second-image">
                                                    <img src="{{ asset(('market/image/' ~ mp.imageSecond)|imagine_filter('square')) }}">
                                                </div>
                                            </div>

                                            <div class="product-details">
                                                <h3 class="product-name"><a href="{{ path('market_product_show', { 'slug': mp.slug }) }}">{{ mp.title }}</a></h3>
                                                <span class="product-price">
                                          <ins>
                                             <span class="product-amount">
                                                <span class="product-price-currency">{{ mp.price|number_format(2) ~ '€'  }}</span>
                                             </span>
                                          </ins>
                                       </span>
{#                                                <div class="product-star-rating" title="3/5">#}
{#                                                    <i class="fa fa-star"></i>#}
{#                                                    <i class="fa fa-star"></i>#}
{#                                                    <i class="fa fa-star"></i>#}
{#                                                </div>#}
                                            </div>
                                        </figure>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-primary main-color pt-40">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h2 class="section-title mb-none fs-26">
                            Fait ton Shopping !
                            {% if app.user %}
                                <a href="{{ path('market_product_new') }}"><button class="btn btn-primary pull-right">Créer une annonce</button></a>
                            {% endif %}
                        </h2>


                        <p class="mb-25">
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="xspecial-heading v2"></h3>
                    </div>

                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Image</th>
                                <th>Description</th>
                                <th>Vendeur</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for mp in market_products|slice(12) %}
                                <tr>
                                    <td>
                                        <figure class="product-item product-item-style-1">
                                            <div class="product-media">
                                                <div class="badge-wrap">
                                                    {% if mp.isSold %}
                                                        <span class="out-of-stock-badge">VENDU</span>
                                                    {% endif %}
                                                </div>
                                                <div class="img-wrap first-image">
                                                    <img src="{{ asset(('market/image/' ~ mp.imageFirst)|imagine_filter('square')) }}">
                                                </div>
                                                <div class="img-wrap second-image">
                                                    <img src="{{ asset(('market/image/' ~ mp.imageSecond)|imagine_filter('square')) }}">
                                                </div>
                                            </div>

                                            <div class="product-details">
                                                <h3 class="product-name"><a href="{{ path('market_product_show', { 'slug': mp.slug }) }}">{{ mp.title }}</a></h3>
                                                <span class="product-price">
                                          <ins>
                                             <span class="product-amount">
                                                <span class="product-price-currency">{{ mp.price|number_format(2) ~ '€'  }}</span>
                                             </span>
                                          </ins>
                                       </span>
                                            </div>
                                        </figure>
                                    </td>
                                    <td>{{ mp.description|nl2br }}</td>
                                    <td>{{ mp.vendor.firstname }}</td>
                                    <td>
                                        {% if not mp.isSold %}
                                            <div class="col-md-12">
                                            <a href="{{ path('market_product_show', { 'slug': mp.slug }) }}">
                                                <button class="btn btn-xs btn-primary">Voir</button>
                                                </a>
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>


        <section class="section-primary bg-stylish bg-stylish-v6">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="anim-perspective">
                            <div class="feature-box feature-box-secundary-one exp-animation" data-animation="vertex_b_show" data-delay="0">
                                <div class="feature-box-icon center-icon small">
                                    <i class="fa fa-shopping-bag v-icon"></i>
                                </div>
                                <div class="feature-box-text clearfix base-color">
                                    <h3>Secure Checkout</h3>
                                    <div class="feature-box-text-inner">
                                        <p>
                                            Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                                            per inceptos himenaeos. Nulla nunc dui, tristique in semper vel.
                                        </p>
                                        <a href="#" class="read-more">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="anim-perspective">
                            <div class="feature-box feature-box-secundary-one exp-animation" data-animation="vertex_b_show" data-delay="200">
                                <div class="feature-box-icon center-icon small">
                                    <i class="fa fa-car v-icon"></i>
                                </div>
                                <div class="feature-box-text base-color">
                                    <h3>Fast Delivery</h3>
                                    <div class="feature-box-text-inner">
                                        <p>
                                            Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                                            per inceptos himenaeos. Nulla nunc dui, tristique in semper vel.<br>
                                        </p>
                                        <a href="#" class="read-more">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="anim-perspective">
                            <div class="feature-box feature-box-secundary-one exp-animation" data-animation="vertex_b_show" data-delay="400">
                                <div class="feature-box-icon center-icon small">
                                    <i class="fa fa-ship v-icon"></i>
                                </div>
                                <div class="feature-box-text base-color">
                                    <h3>International Shipping</h3>
                                    <div class="feature-box-text-inner">
                                        <p>
                                            Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                                            per inceptos himenaeos. Nulla nunc dui, tristique in semper vel.<br>
                                        </p>
                                        <a href="#" class="read-more">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% endblock %}

    {% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('[role=dialog]')
                .on('show.bs.modal', function (e) {
                    $(this)
                        .find('[role=document]')
                        .removeClass()
                        .addClass('modal-dialog ' + $(e.relatedTarget).data('ui-class'))
                })
        })
    </script>
{% endblock %}