<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %} portlamontagne.fr - Ça grimpe autour de Toulon !</title>
    <meta name="title" content="PortLaMontagne.fr - Un site communautaire sur l'escalade des monts Toulonnais">
    <meta name="keywords" content="escalade, var, toulon, port, montagne, grimpe, partenaire, alerte, matériel, grandes-voies, psycho, bloc, moulinette, article, alerte"/>
    <meta name="description" content="Vous souhaitez grimpez autour de Toulon ? Venez découvrir l'association PortLaMontagne, ses derniers articles, ses alertes sécurité et sa recherche de groupe !">
    <meta name="author" content="florianrampin.fr">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% block stylesheets %}
        <link rel="shortcut icon" href="{{ asset('img/fav.ico') }}" type="image/x-icon"/>
        <link rel="apple-touch-icon" href="{{ asset('img/apple-touch-icon.png') }}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Cabin:400,600,700" rel="stylesheet">
        <!-- Vendor CSS -->
        <link rel="stylesheet" href="{{ asset('vendor/tether/tether.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/fonts/vertex-icons.css') }}"/>
        <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/glyphicon.css') }}"/>
        <link rel="stylesheet" href="{{ asset('vendor/ion-icons/css/ionicons.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('vendor/owl-carousel/owl.theme.css') }}"/>
        <link rel="stylesheet" href="{{ asset('vendor/owl-carousel/owl.carousel.css') }}"/>
        <link rel="stylesheet" href="{{ asset('vendor/magnific-popup/magnific-popup.css') }}"/>
        <link rel="stylesheet" href="{{ asset('vendor/lite-tooltip/css/litetooltip.css') }}"/>
        <!-- Theme CSS -->
        <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/main-shortcodes.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/header.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/form-element.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/animation.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/streamline-icon.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/font-icons.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/responsive.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/utilities.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/skins/default.css') }}" rel="stylesheet"/>
        <!-- Theme Custom CSS -->
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
        <!-- Style Swicher -->
        <link href="{{ asset('vendor/style-switcher/style-switcher.css') }}" rel="stylesheet"/>
        <link href="{{ asset('vendor/style-switcher/bootstrap-colorpicker/css/bootstrap-colorpicker.css') }}" rel="stylesheet"/>
        <!-- Toastr style -->
        <link href="{{ asset('css/plugins/toastr/toastr.min.css') }}" rel="stylesheet">
    {% endblock %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172843657-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-172843657-1');
    </script>
</head>
<body>
<!--Header-->
<header id="header" class="header-narrow header-full-width"
        data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 0, 'stickySetTop': '0', 'stickyChangeLogo': false}">
    <div class="header-body">
        <div class="header-top dark-topbar">
            <div class="container">
                <div class="header-row py-1">
                    <div class="header-column justify-content-start">
                        <div class="header-row">
                            <p>
                                <a href="http://www.var.gouv.fr/acces-aux-massifs-forestiers-du-var-a2898.html"><i class="fa fa-info-circle mr-1 va-text-top"></i> Carte des massifs</a>
                                &nbsp;&nbsp;|&nbsp;&nbsp;
                                <img width="22" height="22" src="" alt="" id="weather-img-id">
                                <a id="weather-link-id" href="https://www.meteoblue.com/fr/meteo/semaine/toulon_france_2972328">
                                </a>
{#                                &nbsp;&nbsp;|&nbsp;&nbsp;#}
{#                                <a href="{{ path('shop_index') }}"><i class="fa fa-book mr-1 va-text-top"></i>Boutique</a>#}
                            </p>
                        </div>
                    </div>
                    <div class="header-column justify-content-end">
                        <div class="header-row">
                            <nav class="header-nav-top">
                                <ul class="nav nav-pills">
                                    <li class="nav-item d-none d-lg-block">
                                        <a class="nav-link" href="{{ path('contact') }}"><i class="fa fa-angle-right"></i> Contactez-nous</a>
                                    </li>

                                    <li class="nav-item dropdown">
                                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

                                            <a class="nav-link" href="#" role="button" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-user"></i> {{ app.user.firstname }}&nbsp;&nbsp;<i class="fa fa-angle-down"></i>
                                        </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownLanguage">
                                                <a class="dropdown-item" href="{{ path('user_dashboard') }}"> <i class="fa fa-user"></i>&nbsp;&nbsp;Mon compte</a>
                                                <a class="dropdown-item" href="{{ path('app_logout') }}"> <i class="fa fa-power-off"></i>&nbsp;&nbsp;Déconnexion</a>
                                        </div>
                                        {% else %}

                                            <a class="nav-link" href="{{ path('app_login') }}" role="button" >
                                                <i class="fa fa-user"></i>&nbsp;Connexion
                                            </a>
                                        {% endif %}
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="v-header-shadow"></span>
        <div class="header-container container">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-logo">
                            <a href="{{ path('home') }}">
                                <img alt="Vertex" width="106" height="69" src="{{ asset('img/logo.png') }}">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header-column justify-content-center">
                    <div class="header-row">
                        <div class="header-nav header-nav-dark-dropdown header-nav-top-line justify-content-center">
                            <div class="header-nav-main header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                <nav class="collapse">
                                    <ul class="nav nav-pills" id="mainNav">
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle active" href="{{ path('home') }}">Accueil</a>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="{{ path('article_index') }}">Articles</a>
                                        </li>
                                        <li id='alerts-li' style="display:none;" class="dropdown header-search-wrap">
                                            <a class="dropdown-item dropdown-toggle pr-5" href="{{ path('article_alert_index') }}"><i
                                                        class="fa fa-exclamation-triangle fs-18"></i>&nbsp;Alertes
                                                &nbsp;<span id='alerts-counter' class="badge badge-pill badge-danger"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
                                <i class="fa fa-bars"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="header-column justify-content-end">
                    <div class="header-row">
                        <div class="header-nav header-nav-top-line justify-content-end">
                            <div class="header-nav-main header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                <nav class="collapse">

                                </nav>

                            </div>
                            <ul class="header-social-icons social-icons d-none d-sm-block">
                                <li class="social-icons-facebook"><a href="https://www.facebook.com/groups/portlamontagne/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li class="social-icons-twitter"><a href="https://twitter.com/PLMToulon" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li class="social-icons-instagram"><a href="https://www.instagram.com/Port_la_montagne/" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--End Header-->
<div class="wrapper">

    {% for message in app.flashes('error') %}
        <div id="toast-error" data-message="{{ message }}"></div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div id="toast-success" data-message="{{ message }}"></div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div id="toast-warning" data-message="{{ message }}"></div>
    {% endfor %}

    {% block body %}{% endblock %}
    <!--Footer-Wrap-->
    <footer class="footer footer-wrap">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <ul class="list-inline fs-13 mb-none">
                            <li><p class="mb-0 fw-6">© 2020 PortLaMontagne - Version 1.0.3</p></li>
                            <li><a href="{{ path('contact') }}">Contact</a></li>
                            <li><a href="{{ path('privacy_policy') }}">Politique de confidentialité</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('admin_dashboard_index') }}">Administration</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--End Footer-Wrap-->
</div>
</div>
{% block javascripts %}
    <!-- Vendor -->
    <script src="{{ asset('vendor/jquery/jquery.js') }}"></script>
    <script src="{{ asset('vendor/jquery/jquery.nav.js') }}"></script>
    <script src="{{ asset('vendor/jquery/jquery.validate.js') }}"></script>
    <script src="{{ asset('vendor/jquery.appear/jquery.appear.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery.easing/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-cookie/jquery-cookie.min.js') }}"></script>
    <script src="{{ asset('vendor/magnific-popup/jquery.magnific-popup.js') }}"></script>
    <script src="{{ asset('vendor/modernizr/modernizr.min.js') }}"></script>
    <script src="{{ asset('vendor/tether/tether.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('vendor/menuzord/menuzord.js') }}"></script>
    <script src="{{ asset('vendor/sticky/jquery.sticky.min.js') }}"></script>
    <script src="{{ asset('vendor/isotope/jquery.isotope.min.js') }}"></script>
    <script src="{{ asset('vendor/respond/respond.js') }}"></script>
    <script src="{{ asset('vendor/images-loaded/imagesloaded.js') }}"></script>
    <script src="{{ asset('vendor/owl-carousel/owl.carousel.js') }}"></script>
    <script src="{{ asset('vendor/wow/wow.min.js') }}"></script>
    <script src="{{ asset('vendor/lite-tooltip/js/litetooltip.js') }}"></script>
    <script src="{{ asset('vendor/smoothscroll/smooth.scroll.min.js') }}"></script>
    <script src="{{ asset('js/theme-plugins.js') }}"></script>
    <!-- Current Page Vendor and Views -->
    <script src="{{ asset('vendor/rs-plugin/js/jquery.themepunch.tools.min.js') }}"></script>
    <script src="{{ asset('vendor/rs-plugin/js/jquery.themepunch.revolution.min.js') }}"></script>
    <!-- Theme Initialization -->
    <script src="{{ asset('js/theme.js') }}"></script>
    <!-- Custom JS -->
    <script src="{{ asset('js/custom.js') }}"></script>
    <!-- Style Swicher -->
    <!--<script src="vendor/style-switcher/style.switcher.js" id="styleSwitcherScript" data-base-path="" data-skin-src=""></script>
    <script src="vendor/style-switcher/style.switcher.localstorage.js"></script>-->
    <script>
        $(document).ready(function () {
            $.ajax('{{ path('default_alerts') }}', {
                success: function (data) {
                    if (data['alerts'] > 0) {
                        document.getElementById('alerts-counter').appendChild(document.createTextNode(data['alerts']));
                        document.getElementById('alerts-li').style.display = "block";
                    }
                },
                error: function () {
                    // show alert or something
                }
            });

            $.ajax('{{ path('default_open-weather-map', {  }) }}', {
                success: function (data) {

                    const url = "http://openweathermap.org/img/wn/" + data['weather'][0]['icon'] + "@2x.png";
                    const temp = data['weather'][0]['temp'];

                    document.getElementById('weather-img-id').src = url;
                    document.getElementById('weather-link-id').textContent = temp + '°C';
                    console.log(url)
                },
                error: function () {
                    // show alert or something
                }
            });


            return false; // this stops normal button behaviour from executing;



        })
    </script>

    <!-- Toastr script -->
    <script src="{{ asset('js/plugins/toastr/toastr.min.js') }}"></script>
    <script>
        //Attempt to get the element using document.getElementById
        var elementSuccess = document.getElementById("toast-success");
        var elementError = document.getElementById("toast-error");
        var elementWarning = document.getElementById("toast-warning");
        var element = null;
        var error = false;
        var warning = false;
        var success = false;

        if (elementError) {
            element = elementError;
            error = true;
        } else if (elementSuccess) {
            element = elementSuccess;
            success = true;
        } else {
            element = elementWarning;
            warning = true;
        }
        if (typeof (element) != 'undefined' && element != null) {
            var i = -1;
            var $toastlast;
            var message = element.dataset.message;
            var array = message.split(";");

            toastr.options = {
                "progressBar": true,
                "preventDuplicates": true,
                "timeOut": "3000"
            }

            if (error) {
                toastr.error(array[1], array[0])
            } else if (success) {
                toastr.success(array[1], array[0])
            } else if (warning) {
                toastr.warning(array[1], array[0])
            }
        }
    </script>
{% endblock %}
</body>
</html>
