<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %} - PortLaMontagne.fr</title>
    <meta name="keywords" content="escalade, var, toulon, port, montagne, grimpe, partenaire, alerte, matériel, grandes-voies, psycho, bloc, moulinette, article, alerte"/>
    <meta name="description" content="PortLaMontagne.fr -  Un site communautaire sur l'escalade des monts Toulonnais">
    <meta name="author" content="florianrampin.fr">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">


    {% block stylesheets %}

        <link rel="shortcut icon" href="{{ asset('img/favicon.png') }}" type="image/x-icon"/>
        <link rel="apple-touch-icon" href="{{ asset('img/apple-touch-icon.png') }}">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Cabin:400,600,700" rel="stylesheet">

        <!-- Vendor CSS -->
        <link rel="stylesheet" href="{{ asset('vendor/tether/tether.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/fonts/vertex-icons.css') }}"/>
        <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/glyphicon.css') }}"/>
        <link rel="stylesheet" href="{{ asset('vendor/ion-icons/css/ionicons.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('vendor/owl-carousel/owl.theme.css') }}"/>
        <link rel="stylesheet" href="{{ asset('vendor/owl-carousel/owl.carousel.css') }}"/>
        <link rel="stylesheet" href="{{ asset('vendor/magnific-popup/magnific-popup.css') }}"/>
        <link rel="stylesheet" href="{{ asset('vendor/lite-tooltip/css/litetooltip.css') }}"/>

        <!-- Theme CSS -->
        <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/main-shortcodes.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/header.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/form-element.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/animation.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/streamline-icon.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/font-icons.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/responsive.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/utilities.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/skins/default.css') }}" rel="stylesheet"/>

        <!-- Theme Custom CSS -->
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}">

        <!-- Style Swicher -->
        <link href="{{ asset('vendor/style-switcher/style-switcher.css') }}" rel="stylesheet"/>
        <link href="{{ asset('vendor/style-switcher/bootstrap-colorpicker/css/bootstrap-colorpicker.css') }}" rel="stylesheet"/>
    {% endblock %}
</head>

<body>

<!--Header-->
<header id="header" class="header-narrow header-full-width"
        data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 0, 'stickySetTop': '0', 'stickyChangeLogo': false}">
    <div class="header-body">
        <span class="v-header-shadow"></span>
        <div class="header-container container">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-logo">
                            <a href="{{ path('home') }}">
                                <img alt="Vertex" width="106" height="69" src="{{ asset('img/logo.png') }}">
                            </a>PORT LA MONTAGNE
                        </div>
                    </div>
                </div>
                <div class="header-column justify-content-center">
                    <div class="header-row">
                        <div class="header-nav header-nav-dark-dropdown header-nav-top-line justify-content-center">
                            <div class="header-nav-main header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                <nav class="collapse">
                                    <ul class="nav nav-pills" id="mainNav">
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle active" href="{{ path('home') }}">Accueil</a>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="{{ path('article_index') }}">Articles</a>
                                            {#                                        </li>#}
                                            {#                                        <li class="dropdown">#}
                                            {#                                            <a class="dropdown-item dropdown-toggle" href="{{ path('climbing_group_index') }}">Sorties</a>#}
                                            {#                                        </li>#}
                                    </ul>
                                </nav>
                            </div>
                            <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
                                <i class="fa fa-bars"></i>
                            </button>
                        </div>
                    </div>
                </div>


                <div class="header-column justify-content-end">
                    <div class="header-row">
                        <div class="header-nav header-nav-top-line justify-content-end">
                            <div class="header-nav-main header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                <nav class="collapse">
                                    <ul class="nav nav-pills" id="mainNav">
                                        <li id='alerts-li' style="display:none;" class="dropdown header-search-wrap">
                                            <a class="dropdown-item dropdown-toggle pr-5" href="{{ path('article_alert_index') }}"><i
                                                        class="fa fa-exclamation-triangle fs-18"></i>&nbsp;Alertes
                                                &nbsp;<span id='alerts-counter' class="badge badge-pill badge-danger"></span>
                                            </a>
                                        </li>
                                        <li class="dropdown header-search-wrap">
                                            <a class="dropdown-item dropdown-toggle pr-5" href="https://www.meteoblue.com/fr/meteo/semaine/toulon_france_2972328"><i
                                                        class="fa fa-weather-sunny fs-18"></i>&nbsp;Météo </a>
                                        </li>

                                        {#                                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}#}
                                        {#                                            <li class="dropdown header-search-wrap">#}
                                        {#                                                <a class="dropdown-item dropdown-toggle pr-5" href="{{ path('app_login') }}"><i class="fa fa-user-circle fs-18"></i>&nbsp;Mon#}
                                        {#                                                    compte</a>#}
                                        {#                                            </li>#}
                                        {#                                        {% else %}#}
                                        {#                                            <li class="dropdown header-search-wrap">#}
                                        {#                                                <a class="dropdown-item dropdown-toggle pr-5" href="{{ path('app_login') }}"><i class="fa fa-user-circle fs-18"></i>&nbsp;Connexion</a>#}
                                        {#                                            </li>#}
                                        {#                                        {% endif %}#}

                                        {#                                        <li class="dropdown header-search-wrap">#}
                                        {#                                            <a class="dropdown-item dropdown-toggle pr-5" href="#"><i class="fa fa-search3 fs-18"></i> </a>#}
                                        {#                                            <ul class="dropdown-menu">#}
                                        {#                                                <li>#}
                                        {#                                                    <div class="header-search">#}
                                        {#                                                        <form id="searchForm" action="pages-search-result.html" method="get" novalidate="novalidate">#}
                                        {#                                                            <div class="input-group">#}
                                        {#                                                                <input type="text" class="form-control" name="q" id="q" placeholder="Search..." required="">#}
                                        {#                                                                <span class="input-group-btn">#}
                                        {#                                                         <button class="btn btn-light" type="submit"><i class="fa fa-search"></i></button>#}
                                        {#                                                      </span>#}
                                        {#                                                            </div>#}
                                        {#                                                        </form>#}
                                        {#                                                    </div>#}
                                        {#                                                </li>#}
                                        {#                                            </ul>#}
                                        {#                                        </li>#}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--End Header-->
<div class="wrapper">

    {% for message in app.flashes('error') %}
        <div class="alert alert-error alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4 class="alert-title mt-0 mb-5">Erreur !</h4>
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4 class="alert-title mt-0 mb-5">Succès !</h4>
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4 class="alert-title mt-0 mb-5">Attention !</h4>
            {{ message }}
        </div>
    {% endfor %}


    {% block body %}{% endblock %}
    <!--Footer-Wrap-->
    <footer class="footer footer-wrap">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">

                        <ul class="list-inline fs-13 mb-none">
                            <li><p class="mb-0 fw-6">© 2020 PortLaMontagne - Version 1.0.3</p></li>
                            <li><a href="pages-about.html">A Propos</a></li>
                            <li><a href="pages-contact.html">Contact</a></li>

                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('admin_dashboard_index') }}">Administration</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--End Footer-Wrap-->
</div>
</div>
{% block javascripts %}
    <!-- Vendor -->
    <script src="{{ asset('vendor/jquery/jquery.js') }}"></script>
    <script src="{{ asset('vendor/jquery/jquery.nav.js') }}"></script>
    <script src="{{ asset('vendor/jquery/jquery.validate.js') }}"></script>
    <script src="{{ asset('vendor/jquery.appear/jquery.appear.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery.easing/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-cookie/jquery-cookie.min.js') }}"></script>
    <script src="{{ asset('vendor/magnific-popup/jquery.magnific-popup.js') }}"></script>
    <script src="{{ asset('vendor/modernizr/modernizr.min.js') }}"></script>
    <script src="{{ asset('vendor/tether/tether.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('vendor/menuzord/menuzord.js') }}"></script>
    <script src="{{ asset('vendor/sticky/jquery.sticky.min.js') }}"></script>
    <script src="{{ asset('vendor/isotope/jquery.isotope.min.js') }}"></script>
    <script src="{{ asset('vendor/respond/respond.js') }}"></script>
    <script src="{{ asset('vendor/images-loaded/imagesloaded.js') }}"></script>
    <script src="{{ asset('vendor/owl-carousel/owl.carousel.js') }}"></script>
    <script src="{{ asset('vendor/wow/wow.min.js') }}"></script>
    <script src="{{ asset('vendor/lite-tooltip/js/litetooltip.js') }}"></script>
    <script src="{{ asset('vendor/smoothscroll/smooth.scroll.min.js') }}"></script>
    <script src="{{ asset('js/theme-plugins.js') }}"></script>

    <!-- Current Page Vendor and Views -->
    <script src="{{ asset('vendor/rs-plugin/js/jquery.themepunch.tools.min.js') }}"></script>
    <script src="{{ asset('vendor/rs-plugin/js/jquery.themepunch.revolution.min.js') }}"></script>

    <!-- Theme Initialization -->
    <script src="{{ asset('js/theme.js') }}"></script>

    <!-- Custom JS -->
    <script src="{{ asset('js/custom.js') }}"></script>

    <!-- Style Swicher -->
    <!--<script src="vendor/style-switcher/style.switcher.js" id="styleSwitcherScript" data-base-path="" data-skin-src=""></script>
    <script src="vendor/style-switcher/style.switcher.localstorage.js"></script>-->
    <script>
        $(document).ready(function () {
            $.ajax('{{ path('default_alerts') }}', {
                success: function (data) {
                    if (data['alerts'] > 0) {
                        document.getElementById('alerts-counter').appendChild(document.createTextNode(data['alerts']));
                        document.getElementById('alerts-li').style.display = "block";
                    }
                },
                error: function () {
                    // show alert or something
                }
            });
            return false; // this stops normal button behaviour from executing;

        })
    </script>

{% endblock %}


</body>
</html>
