{% extends 'base_app_admin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/blog.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/ss-gizmo.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}Articles{% endblock %}

{% block bodyApp %}
    <div class="col-md-9">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="xspecial-heading v2"><span>Liste des articles</span></h3>
                </div>
                <div class="col-md-12">
                    <table class="table table-striped custab">
                        <thead>
                        <tr>
                            <th>Date création</th>
                            <th>Titre</th>
                            <th>Est une alerte ?</th>
                            <th>publié</th>
                            <th class="text-center">Action</th>
                        </tr>
                        </thead>
                        {% for article in articles %}
                        <tr>
                            <td>{{ article.createdAt|date('d/m/Y') }}</td>
                            <td><a href="{{ path('article_show', { 'slug': article.slug }) }}"> {{ article.title }} </a></td>
                            <td>
                                {% if article.alert %}
                                    <span class="label label-danger">OUI</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if article.isPublished %}
                                    <span class="label label-success">OUI</span>
                                {% endif %}
                            </td>
                            <td>
                                <a class='btn btn-info btn-xs' href="{{ path('admin_article_edit', {'slug': article.slug}) }}"><span class="glyphicon glyphicon-edit"></span> éditer</a>
                                <form method="post" action="{{ path('admin_article_delete', {'slug': article.slug}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet article ?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
                                    <button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> suppr</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('.masonary-post-wrap').isotope({
            itemSelector: '.masonary-post-item',
            percentPosition: true
        })
    </script>
{% endblock %}