{% extends 'base_app_admin.html.twig' %}

{% block stylesheets %}
{{ parent() }}
    <!-- Smart Forms CSS -->
    <link href="{{ asset('smartforms/Templates/css/smart-loader.css') }}" rel="stylesheet" />
    <link href="{{ asset('smartforms/Templates/css/smart-addons.css') }}" rel="stylesheet" />
    <link href="{{ asset('smartforms/Templates/css/smart-forms.css') }}" rel="stylesheet" />

{% endblock %}

{% block title %}Créer un article{% endblock %}

{% block bodyApp %}
</p>
    {{ include('article/_form.html.twig') }}

    <a href="{{ path('article_index') }}">back to list</a>
{% endblock %}
