{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Article{% endblock %}

{% block body %}
    <div class="page-inner t-bordered">
        <div class="container">
            <div class="row">
                <div class="col-md-8 left-side-sidebar">
                    <div class="post-content-wrap">
                        <figure class="item-shadow">
                            <a href="#" class="link-to-post">
                                <img itemprop="image" src="{{ asset('article/image/' ~ article.image ) }}" alt="">
                                <div class="post-overlay"></div>
                            </a>
                        </figure>
                        <div class="post-author-wrap mnt-50">
                            <div class="author-avatar">
                                <img alt="" src="{{ (article.user.image != '') ? (asset('user/image/') ~ article.user.image)|imagine_filter('square') : 'https://api.adorable.io/avatars/285/' ~ article.user.email }}" class="avatar photo">
                            </div>
                        </div>
                        <div class="post-meta">
                            <ul>
                                <li>
                                    <i class="ion-android-time"></i> {{ article.createdAt|format_datetime(locale='fr') }}
                                </li>
                                <li class="float-right">
                                    <i class="ion-edit"></i> {{ article.user.fullName }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h1 class="fs-30 pt-20 text-center">{{ article.title }}</h1>
                    {{ article.content|raw|nl2br }}
                    <div class="blog-single-meta">
                        <div class="post-meta-section clearfix mb-none">
                            <div class="tag-cloud clearfix">
                                <ul class="tag-cloud-inner">
                                    <li><a href="#">{{ article.category.title }}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="post-meta-section clearfix">
                            <div class="blog-single-sharing-box">
                                <h4>Partager cet article </h4>
                                <div id="fb-root">
                                    <div class="blog-social-networks boxed-icons">
                                        <div class="fb-share-button"
                                             data-href="{{ absolute_url(app.request.uri) }}"
                                             data-layout="button_count">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-meta-section clearfix">
                            <div class="post-author-avatar">
                                <img alt="" src="{{ (article.user.image != '') ? asset('user/image/') ~ article.user.image : 'https://api.adorable.io/avatars/285/' ~ article.user.email }}" class="avatar avatar-100 photo" height="75" width="75">
                            </div>
                            <div class="post-author-info">
                                <h2 class="name title">A propos de l'auteur</h2>
                                <div class="post-author-description mb-20">
                                    <p>
                                        <b>{{ article.user.fullName }}</b> <br>
                                        {{ article.user.description }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="post-meta-section clearfix">
                            <div class="post-block post-comments clearfix">
                                <div class="post-meta-section-title b-bordered pb-30">
                                    <h4><i class="ion-android-chat pr-sm fs-16"></i> COMMENTAIRES ({{ comments|length }})</h4>
                                </div>
                                {% for comment in comments %}
                                    <ul class="comments pt-30">
                                        <li>
                                            <div class="comment">
                                                <div class="img-thumbnail">
                                                    <img class="avatar" alt="Vertex" src="{{ 'https://api.adorable.io/avatars/285/' ~ comment.user.email }}">
                                                </div>
                                                <div class="comment-block">
                                          <span class="comment-by">
                                             <strong>{{ comment.user.fullName }}</strong>
                                              {% if (comment.user == app.user) %}
                                                  <div class="pull-right">
                                                   <a href="{{ path('comment_delete', {'comment': comment.id}) }}" class="href"><button><i class="ion-android-delete"></i></button></a>
                                                  </div>
                                              {% endif %}
                                          </span>
                                                    <span class="date">{{ comment.createdAt|format_datetime(locale='fr') }}</span>
                                                    <p class="desc">
                                                        {{ comment.content|raw|nl2br }}
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="post-meta-section clearfix">
                            <div class="post-meta-section-title">
                                <h4><i class="fa fa-align-left pr-sm"></i> JE COMMENTE !</h4>
                            </div>
                            {% if app.user %}
                                {% if not alreadyComment %}
                                    <div class="post-block post-leave-comment">
                                        {{ form_start(formComment) }}
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ form_errors(formComment.content) }}
                                                    {{ form_widget(formComment.content) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 pt-md">
                                                <input type="submit" value="COMMENTER" class="btn btn-primary" data-loading-text="Chargement...">
                                            </div>
                                        </div>
                                        {{ form_end(formComment) }}
                                    </div>
                                {% else %}
                                    <i>Hé..psstt ! Tu as déjà commenté cet article !</i>
                                {% endif %}
                            {% else %}
                                <i>Tu dois d'abord te connecter pour commenter l'article</i>
                                <div class="pull-right">
                                    <a href="{{ path('app_login') }}" class="href">
                                        <button class="btn btn-primary">SE CONNECTER</button>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4 right-side-sidebar">
                    <aside class="sidebar">
                        <section class="clean-sidebar sidebar-widget text-center">
                            <div class="join-us-form mt-35">
                                <h4 class="fs-16"><b>Restez informé des nouveaux articles </b></h4>
                                {% if not app.user or (app.user.newsletter is null or not app.user.newsletter.isActivated) %}
                                    <div class="input-group mt-15">
                                        <a href="{{ path('newsletter_add') }}" class="btn btn-primary btn-shadow content-center w-100" type="submit">S'INSCRIRE</a>
                                    </div>
                                {% else %}
                                    <div class="input-group mt-15">
                                        <a href="{{ path('newsletter_remove') }}" class="btn btn-primary btn-shadow content-center w-100" type="submit">SE DESINSCRIRE</a>
                                    </div>
                                {% endif %}
                                <small>Aucun spam ne sera envoyé.</small>
                            </div>
                        </section>
                        <section class="sidebar-widget">
                            <div class="heading">
                                <h4 class="title">Articles récents</h4>
                            </div>
                            <div class="sidebar-widget-inner">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="popular" role="tabpanel">
                                        {% for a in articles %}

                                            <div class="spost clearfix">
                                                <div class="entry-image">
                                                    <a href="{{ path('article_show', {'slug': a.slug }) }}" class="nobg"><img class="img-circle" src="{{ asset('article/image/' ~ a.image ) }}" alt=""></a>
                                                </div>
                                                <div class="entry-c">
                                                    <div class="entry-title">
                                                        <h4><a href="{{ path('article_show', {'slug': a.slug }) }}">{{ a.title }}</a></h4>
                                                    </div>
                                                    <ul class="entry-meta">
                                                        <li><i class="ion-ios-calendar-outline"></i> {{ a.createdAt|date('d/m/Y') }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </section>
                    </aside>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

        {% block javascripts %}
            {{ parent() }}
            <script>
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.0";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>
        {% endblock %}