{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Article{% endblock %}

{% block body %}

    <div class="page-inner t-bordered">
        <div class="container">
            <div class="row">

                <div class="col-md-8 left-side-sidebar">

                    <div class="post-content-wrap">
                        <figure class="item-shadow">
                            <a href="#" class="link-to-post">
                                <img itemprop="image" src="{{ asset('article/image/' ~ article.image ) }}" alt="">
                                <div class="post-overlay"></div>
                            </a>
                        </figure>

                        <div class="post-author-wrap mnt-50">
                            <div class="author-avatar">
                                <img alt="" src="{{ 'https://api.adorable.io/avatars/285/' ~ article.user.email }}" class="avatar photo">
                            </div>
                        </div>

                        <div class="post-meta text-center">
                            <ul>
                                <li><i class="ion-android-time"></i> {{ article.createdAt|date('D M Y') }}</li>
                                {#                                    <li class="post-meta-seperator"></li>#}
                                {#                                    <li>#}
                                {#                                        <div class="love-it-wrapper">#}
                                {#                                            <a href="#" class="love-it"> <i class="ion-heart"></i> <span class="love-count">581 likes</span></a>#}
                                {#                                        </div>#}
                                {#                                    </li>#}

                                <li class="float-right">
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <i class="fa fa-edit"></i> <a href="{{ path('admin_article_edit', { 'slug':article.slug }) }}"> éditer</a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>

                    <h1 class="fs-30 pt-20 text-center">{{ article.title }}</h1>

                    {{ article.content|raw|nl2br }}

                    <div class="blog-single-meta">

                        <div class="post-meta-section clearfix mb-none">
                            <div class="tag-cloud clearfix">
                                <ul class="tag-cloud-inner">
                                    <li><a href="#">{{ article.category.title }}</a></li>

                                </ul>
                            </div>
                        </div>

                        <div class="post-meta-section clearfix">
                            <div class="blog-single-sharing-box">
                                <h4>Partager cet article </h4>
                                <div id="fb-root">

                                    <div class="blog-social-networks boxed-icons">
                                        <div class="fb-share-button"
                                             data-href="{{ app.request.attributes.get('_route') }}"
                                             data-layout="button_count">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="post-meta-section clearfix">
                            <div class="post-author-avatar">
                                <img alt="" src="{{ 'https://api.adorable.io/avatars/285/' ~ article.user.email }}" class="avatar avatar-100 photo" height="75" width="75">
                            </div>
                            <div class="post-author-info">
                                <h2 class="name title">A propos de l'auteur</h2>
                                <div class="post-author-description mb-20">
                                    <p>
                                        {{ article.user.description }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 right-side-sidebar">

                    <aside class="sidebar">

                        <section class="clean-sidebar sidebar-widget text-center">
                            <div class="join-us-form mt-35">
                                <h4 class="fs-16"><b>Restez informé des nouveaux articles </b></h4>
                                {% if app.user.newsletter is null or not app.user.newsletter.isActivated %}
                                    <div class="input-group mt-15">
                                        <a href="{{ path('newsletter_add') }}" class="btn btn-primary btn-shadow content-center w-100" type="submit">S'INSCRIRE</a>
                                    </div>
                                {% else %}
                                    <div class="input-group mt-15">
                                        <a href="{{ path('newsletter_remove') }}" class="btn btn-primary btn-shadow content-center w-100" type="submit">SE DESINSCRIRE</a>
                                    </div>
                                {% endif %}
                                <small>Aucun spam ne sera envoyé.</small>
                            </div>
                        </section>
                    </aside>
                </div>
            </div>
        </div>
        F
    </div>

{% endblock %}

        {% block javascripts %}
            {{ parent() }}
            <script>
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.0";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>
        {% endblock %}