{% extends 'base.html.twig' %}

{% block title %}Area index{% endblock %}

{% block body %}
    <h1>Area index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Orientation</th>
                <th>DificultyMax</th>
                <th>DificultyMin</th>
                <th>Title</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for area in areas %}
            <tr>
                <td>{{ area.id }}</td>
                <td>{{ area.orientation }}</td>
                <td>{{ area.dificultyMax }}</td>
                <td>{{ area.dificultyMin }}</td>
                <td>{{ area.title }}</td>
                <td>{{ area.description }}</td>
                <td>
                    <a href="{{ path('area_show', {'id': area.id}) }}">show</a>
                    <a href="{{ path('area_edit', {'id': area.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('area_new') }}">Create new</a>
{% endblock %}
