{% extends 'base.html.twig' %}

{% block title %}Area{% endblock %}

{% block body %}
    <h1>Area</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ area.id }}</td>
            </tr>
            <tr>
                <th>Orientation</th>
                <td>{{ area.orientation }}</td>
            </tr>
            <tr>
                <th>DificultyMax</th>
                <td>{{ area.dificultyMax }}</td>
            </tr>
            <tr>
                <th>DificultyMin</th>
                <td>{{ area.dificultyMin }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ area.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ area.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('area_index') }}">back to list</a>

    <a href="{{ path('area_edit', {'id': area.id}) }}">edit</a>

    {{ include('area/_delete_form.html.twig') }}
{% endblock %}
